/*Boton FORMULARIO*/

.compartir {
        background-color: #4a4a4a;    
        color: #ffffff;                
        padding: 1rem 2rem;            
        font-size: 1.6rem;            
        border: none;                 
        border-radius: 8px;
}

.limpiar {
        background-color: #4a4a4a;    
        color: #ffffff;                
        padding: 1rem 2rem;            
        font-size: 1.6rem;            
        border: none;                 
        border-radius: 8px;
}