@use "./variables" as *;

footer{
    background-color: $colorfootyhead;
    border-radius: 50%;
    padding-bottom: 1rem;
    .pie {
    color: $casiblanco;
    font-size: 300%;
    text-align: center;
    margin-top: 10rem;
    background-color: rgba(74, 74, 74, 0.5);
    border-radius: 35%;
    padding-top: 4rem;
    padding-bottom: 4rem;
    }
    .redes{
        @include flex-centrado;
        flex-direction: row;
        gap: 1rem;
        margin-top: 1rem;

        img {
            width: 30px;
            height: auto; 
        }
    }
}
    