@use "./variables" as *;

footer{
    background-color: $casiblanco;
    border-radius: 50%;
    .pie {
    color: $casiblanco;
    font-size: 200%;
    text-align: center;
    margin-top: 10rem;
    background-color: $gris;
    border-radius: 35%;}
    img {
    width: 5%;
    margin-top: 0.5rem;
    margin-left: 4rem;
}
}