main{ 
    p {
        font-size: 3rem;
        text-align: center;
    }
    .formulario {
        font-family: "Poiret One", sans-serif;
            .camposform {
                font-size: 2rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-top: 6rem;
                padding-bottom: 6rem; 
            }
    }
}
