.apellido {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
        input {
            padding: 0.5rem;
        }
        label{
            margin: 1.7rem;
        }
}