@use "./variables" as *;

.encabezado {background-color:#948979;
        font-size: 3rem;
        width: 100%;
        padding: 20px;
        nav ul {
            list-style: none;/*Saco viñetas*/
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
                .menu{
                    width: 90%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: end;
                    opacity: 80%;
                }
                .logo {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: end;
                    width: 10%;
                        img{
                            width: 100%;
                            border-radius: 80%;
                            opacity: 80%;  
                        }
                }
                a{
                    text-decoration: none;
                    color: $grisclaro;
                    font-family:$fontnav;
                    font-weight: 600;
                }
        }
}