/*Celulares*/
@media (max-width: 767.98px) {
  
.collapse.show .menu {
    flex-direction: column;
    width: 100%;
    gap: 5px;
  }

  nav a{ 
    font-size: 2rem;
  }

  .logo {
    width: 100%;
    height: 100%;
    list-style: none;
  }
 .logo img {
    width: 100%;
  }

  /* Achico tamaño de letras*/
  h1 {
    font-size: 4rem;
  }
 .videos h2 {
    font-size: 2rem;
}

.videos h3 {
    font-size: 1rem;
}

  .presentacion p {
    font-size: 1.6rem;
  }

  /* VIDEOS: 1 */
  .videosgrid {
    padding-top: 10px;
    grid-template-columns: 100%;
    grid-template-areas:
      "titulo1"
      "titulo2"
      "video11"
      "video12"
      "video13"
      "video21"
      "video22"
      "video23";
  }
  /* LIBROS */
  .libros {
    grid-template-columns: 1fr;
    grid-template-areas: 
      "libro1"
      "libro2"
      "libro3"
      "libro4"
      "libro5"
      "libro6";
  }

  /* FORMULARIO */
  .mensaje {
    width: 100%;
  }

  .camposform {
    padding: 2rem 1rem;
  }

  .nombre, .apellido, .email, .terapia .terapiaselect {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .terapia {
    padding-top: 2rem;
  }

  .terapiaparrafo {
    margin-bottom: 1rem;
  }
}
