@use "./variables" as *;

.videosgrid {
    border: 6px solid $grisclaro;
    background-color: $casiblanco; 
    display: grid;
    grid-template-areas:
    "titulo1 titulo1 titulo1"
    "titulo2 titulo2 titulo2"
    "video11 video12 video13"
    "video21 video22 video23";
    grid-template-columns: 33% 33% 33% ;
    grid-template-rows: auto auto auto auto;
     padding: 5px;
     font-family: $fonttitulos;
             
            h2 {
                opacity: 80%;
                font-size: 4rem;
            }

            h3 {
                opacity: 80%;
                font-size: 2rem;
                font-style: italic;
            }
            iframe {
                width: 100%;
                aspect-ratio: 16/9;
            }
            .titulo {
                padding: 6px;
                grid-area: titulo1;
            }

            .subtitulo {
                grid-area: titulo2;
            }

            .video11 {
                padding: 6px;
                grid-area: video11;
            }

            .video12{
                padding: 6px;
                grid-area: video12;
            }

            .video13{
                padding: 6px;
                grid-area: video13;
            }

            .video21{
                padding: 6px;
                grid-area: video21;
            }

            .video22{
                padding: 6px;
                grid-area: video22;
            }

            .video23{
                padding: 6px;
                grid-area: video23;
            }
}