@use "./variables" as *;

.presentacion{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        h1 {
            font-size: 10rem;
            text-align: center;
            font-family: $fonttitulos;
            text-decoration: solid;
        }
        p {
            font-size: 4rem;
            text-align: center;
            font-family: $fonttextos;
            margin-top: 20px;
            margin-bottom: 20px;
            padding-bottom: 10px;
        }
}

body { 
    color : $grisclaro;
}

body {
    background-color: $fondobody;
}