* {
    margin: 0px; /*para estas medidas es mejor usar px antes que porcentajes porque se usan valores mas chicos*/
    padding: 0px;
    box-sizing: border-box;
}
/*contenedor raíz de toda la página*/
html {
    /* font-size: 10px; osea que 1 rem = 10 px, puedo usar porcentaje 10px es 62,5% */
    font-size: 62.5%;
}