$blanco:#e8ecf0;
$gris:hsl(0, 0%, 17%);
$grisclaro:#4a4a4a;
$casiblanco:#bec2c6; 
$fondobody: #f4f4f4;
$colorfootyhead: #948979;
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@400;600&family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet');
$fonttextos: 'Lora', serif; //para textos y parrafos
$fonttitulos: 'Playfair Display', serif; //para titulos
$fontnav: 'Playfair Display', serif; //botones de nav
