@use "./variables" as *;

.Bibliografia {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
        p {
            font-family: 'Lora', serif;
            font-size: 2rem;
            margin: 10px;
            text-align: center;
            margin-top: 10px;
            margin-bottom: 30px;
        }
        img {
            box-shadow: 10px 15px 15px rgb(130, 131, 138);
            margin-bottom: 30px;
            margin-top: 10px;
            opacity: 90%;
            width: 60%;
            border-radius: 50%;
        }
}

